---
import Layout from "../layouts/Layout.astro";
import Text from "../components/Text.astro";
import Title from "../components/Title.astro";
---

<Layout title="Christo Ganov | Portfolio">
  <Title>Hello world</Title>
  <Text size="sm">Hello text</Text>
</Layout>
